@model automapper.demo.Models.WigetModel

@{
    ViewBag.Title = "MappingExampleFour";
}

<h2>MappingExampleFour</h2>

<div>
    <h4>WigetModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
