@model automapper.demo.Models.MappingExampleOne

@{
    ViewBag.Title = "MappingExampleOne";
}

<h2>MappingExampleOne</h2>

<div>
    <h4>MappingExampleOne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
